<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egovframework.fusion.mapper.ImageMapper">

    <insert id="insImg" parameterType="imageVo" >
        insert into TB_IMG
        (IMG_ID
        ,IMG_ORIGIN_NAME
        ,IMG_SAVED_NAME
        ,IMG_PATH
        ,IMG_DEL_YN
        ,IMG_SAVE_DATE
        ,POST_ID)

        (SELECT SEQ_IMG.nextval, a.* FROM

        (<foreach collection="list" item="item" separator="union all">
        SELECT
        #{item.imgOriginName} as IMG_ORIGIN_NAME,
        #{item.imgSavedName} as IMG_SAVED_NAME,
        #{item.imgPath} as IMG_PATH,
        'N' AS IMG_DEL_YN,
        SYSDATE as IMG_SAVE_DATE,
        #{item.postId} as POST_ID
        FROM dual
    </foreach>) a )

    </insert>
    <select id="getImageByImgId" parameterType="imageVo" resultType="imageVo">
        SELECT
                 I.IMG_ID
                ,I.IMG_ORIGIN_NAME
                ,I.IMG_SAVED_NAME
                ,I.IMG_PATH
                ,I.IMG_DEL_YN
                ,I.IMG_SAVE_DATE
                ,I.POST_ID
        FROM
                 TB_IMG I
        WHERE
                 I.IMG_ID = #{imgId}
    </select>

    <insert id="insDownload" parameterType="imageVO">
        INSERT INTO TB_DOWNLOAD(
                 DOWNLOAD_ID
                ,DOWNLOAD_DATE
                ,IMG_ID
        )
        VALUES (
                 SEQ_DOWNLOAD.NEXTVAL
                ,SYSDATE
                ,#{imgId}
        )
    </insert>

    <select id="getImageWithDownloadCnt" parameterType="imageVO">
        SELECT I.*, A.CNT
        FROM TB_IMG I
                 JOIN
             (SELECT  IMG_ID, COUNT(*) CNT
              FROM    TB_DOWNLOAD
              GROUP BY IMG_ID
             ) A
             ON I.IMG_ID = A.IMG_ID
        WHERE I.IMG_ID= #{imgId}
        AND   I.IMG_DEL_YN = 'N'
    </select>
</mapper>
